1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "ProductName", "RICOcHet"
      VALUE "CompanyName", "Michele Lorusso"
      VALUE "FileDescription", "RICOcHet NES emulator"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "nes_emu"
      VALUE "LegalCopyright", "None lol"
      VALUE "OriginalFilename", "ricochet.exe"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END